[user]
	name = Tommy Kärnström
	email = tommy.karnstrom@hotmail.com
[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = nano -w
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	glog = log --graph --all --oneline --decorate
	start = !git init && git commit --allow-empty -m \"Initial commit\"
[credential]
	helper = osxkeychain
[push]
	default = simple
	followTags = true
